.wrapper {
  flex-grow: 2;
  margin-left: 20px;
}

.searchField{
  text-align: center;
  margin-bottom: 12px !important;
}

.gridWrapper {
  display: grid;
  grid-column: 3;
  grid-template-columns: auto auto auto;
}

.card{
  padding: 0 10px;
  margin-bottom: 14px;
  background-color: ghostwhite !important;
  min-width: 300px;
  width: fit-content;
}