
%root{
  color: white !important;
  font-weight: 600 !important;
  user-select: none !important;
  display: flex;
  justify-content: center;
}

.info{
  @extend %root;
  background-color: green !important;
}

.warn{
  @extend %root;
 background-color: orange !important;
}

.error{
  @extend %root;
  background-color: red !important;
}

.icon{
  position: absolute;
  top: 25%;
  left: 3%;
}

.message{
  height: inherit;
  width: inherit;
  margin-left: 8%;
}