.paperWrapper{
  height: min-content;
  padding: 20px;
  flex-grow: 1;
}

.addInstrumentForm{
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;

  input{
    margin-top: 10px;
  }

  button{
    margin-top: 30px;
  }
}

.actionTitle{
  text-align: center;
}